//COLORS
$reds:
    indianred 
    lightcoral
    salmon 
    darksalmon 
    lightsalmon 
    crimson 
    red 
    firebrick 
    darkred;

$pinks: 
    pink
    lightpink
    hotpink
    deeppink
    mediumvioletred
    palevioletred;

$oranges:
    coral
    tomato
    orange
    darkorange
    orangered;

$purples:
    lavender
    thistle
    plum
    violet
    orchid
    fuchsia
    magenta
    mediumorchid
    mediumpurple
    blueviolet
    darkviolet
    darkorchid
    darkmagenta
    purple
    rebeccapurple
    indigo
    mediumslateblue
    slateblue
    darkslateblue;

$greens:
    greenyellow
    chartreuse
    lawngreen
    lime
    limegreen
    palegreen
    lightgreen
    mediumspringgreen
    springgreen
    mediumseagreen
    seagreen
    forestgreen
    green
    darkgreen
    yellowgreen
    olivedrab
    olive
    darkolivegreen
    mediumaquamarine
    darkseagreen
    lightseagreen
    darkcyan
    teal;

$blues:
    aqua
    cyan
    lightcyan
    paleturquoise
    aquamarine
    turquoise
    mediumturquoise
    darkturquoise
    cadetblue
    steelblue
    lightsteelblue
    powderblue
    lightblue
    skyblue
    lightskyblue
    deepskyblue
    dodgerblue
    cornflowerblue
    royalblue
    blue
    mediumblue
    darkblue
    navy
    midnightblue;

$browns:
    cornsilk
    blanchedalmond
    bisque
    navajowhite
    wheat
    burlywood
    tan
    rosybrown
    sandybrown
    goldenrod
    darkgoldenrod
    peru
    chocolate
    saddlebrown
    sienna
    brown
    maroon;


@each $current-color in $reds {
    .color {
        [data-color="#{$current-color}"] { 
            background-color: $current-color;
        }
    }
}

@each $current-color in $pinks {
    .color {
        [data-color="#{$current-color}"] { 
            background-color: $current-color;
        }
    }
}

@each $current-color in $oranges {
    .color {
        [data-color="#{$current-color}"] { 
            background-color: $current-color;
        }
    }
}

@each $current-color in $purples {
    .color {
        [data-color="#{$current-color}"] { 
            background-color: $current-color;
        }
    }
}

@each $current-color in $greens {
    .color {
        [data-color="#{$current-color}"] { 
            background-color: $current-color;
        }
    }
}

@each $current-color in $blues {
    .color {
        [data-color="#{$current-color}"] { 
            background-color: $current-color;
        }
    }
}

@each $current-color in $browns {
    .color {
        [data-color="#{$current-color}"] { 
            background-color: $current-color;
        }
    }
}