.btn {
    padding:1rem 4rem;
    font-size: 1.3rem;
    font-weight: bold;
    color:white;
    border:solid 1px transparent;
    transition: all .2s linear;

    &--primary {
        background:$color-primary;
        color:inherit;

        &:hover {
            background:darken($color-primary, 10%);
        }
    }

    &--outline-primary {
        background:transparent;
        border:solid 1px white;

        &:hover {
            background:darken($color-primary, 10%);
        }
    }

    &--lg {
        padding:2rem 5rem;
        font-size: 1.5rem;
    }

    &--group {
        display: flex;
    }
}