.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background:white;
    z-index:100;
    margin-bottom:5rem;
    box-shadow: $shadow-light;

    height: 30rem;
    transition: all .4s ease;



    &--hover {
        &:hover {
            transform: scale(1.05) translateY(-1rem);
            box-shadow: $shadow-dark;
        }
    }
}